:not(#\9) {
  .wrap {
    position: relative;
  }

  .header {
    position: relative;
    background-color: #f0f0f0;
  }

  .contentWrapper {
    background-color: #fff;
    position: relative;
  }

  .content {
    padding-top: 5.5em;
  }

  .appLogo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .appLogo {
      animation: appLogoSpin infinite 20s linear;
    }
  }
  @keyframes appLogoSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
