:not(#\9) {
  .mainScreenAppear {
    opacity: 0;
    transition: opacity 300ms ease;
    transition-delay: 350ms
  }

  .mainScreenAppearActive {
    opacity: 1;
  }

  .splashScreenExit {
    opacity: 1;
    transition: opacity 400ms ease-out;
  }

  .mainScreenExitActive {
    opacity: 0;
  }
}
