:not(#\9) {
  .changedLine {
    font-size: 10px;
    min-height: 16px;
    text-align: right;
  }

  .editor {
    padding: 1px;
  }

  .unsavedEditor {
    padding: 0;
    border: 1px solid orange;
  }

  .changedTitle {
    color: red;
  }
}
