:not(#\9) {
  .wrap {
    position: relative;
  }

  .navBarTop {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 7;
  }

  .navBarFixed {
    bottom: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .navbar_text_lg, .navbar_text_keep {
    display: inline-block;
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;
    padding-left: 0.4em;
  }
}
